.list {
  padding-inline: var(--p1);
  width: 100%;
  max-width: 69.5rem;
  margin: auto;
  display: grid;
  gap: 0.625rem;
  margin: 4.1rem auto 3.5rem auto;
}

.item {
  padding: 1.563rem;
  border: 1px solid var(--clr-dark-3);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  color: var(--clr-light-2);
  font-family: var(--ff-serif-2);
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.info {
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.813rem;
  }

  .item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
  }

  .info {
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
