.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-dark-2);
  padding: var(--p1);
}

.logo {
  text-transform: uppercase;
  font-size: 1.5rem;
}
