.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-dark-2);
  padding: var(--p1);
}

.logo {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 2rem;
    padding: var(--p2);
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    flex-direction: row;
    padding-block: 1.52rem;
    padding-inline: 2.39rem;
  }
}
