.list {
  display: flex;
  font-family: var(--ff-serif-2);
  gap: 1.92rem;
}

.link {
  color: var(--clr-light-3);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.108rem;
  font-weight: 500;
}

.active {
  color: var(--clr-light-1);
  pointer-events: none;
}

@media only screen and (min-width: 992px) {
  .list {
    margin-top: 0.3rem;
  }

  .item {
    position: relative;
  }

  .line {
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.35rem;
    top: -2.3rem;
    right: 0;
    transition: 0.3s;
    border-radius: 0.08rem;
  }

  .item:hover .line {
    left: 0;
    right: auto;
    transform: scaleX(1);
  }

  .link {
    transition: 0.5s color;
  }

  .link:hover {
    color: var(--clr-light-1);
  }
}

@media only screen and (max-width: 767px) {
  .list {
    display: none;
  }
}
