.pathname {
  display: flex;
  gap: 1rem;
  padding: 1.25rem;
  border: 1px solid var(--clr-dark-3);
  text-transform: uppercase;
  max-width: 100%;
  letter-spacing: 0.161rem;
  font-weight: 600;
}

.item:nth-of-type(1) .number {
  margin-right: 0.25rem;
}

.number {
  color: var(--clr-light-2);
  letter-spacing: 0.2rem;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
}

@media only screen and (max-width: 768px) {
  .list {
    display: none;
  }
}
