.container {
  padding: var(--p1);
  width: 100%;
  max-width: 64rem;
  margin: auto;
  font-family: var(--ff-serif-2);
}

.image {
  margin: 3.875rem auto;
  width: 100%;
  max-width: 11rem;
  min-height: 11rem;
  position: relative;
}

.geology {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 5rem;
  bottom: -2rem;
}

.text {
  text-align: center;
}

.title {
  text-transform: uppercase;
}

.desc {
  line-height: 1.563rem;
  margin: 1.688rem 0;
}

.source {
  color: var(--clr-light-3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.source a {
  text-decoration: underline;
}

.source span {
  color: var(--clr-light-2);
}

.source svg {
  margin-bottom: 0.2rem;
}

@media only screen and (min-width: 768px) {
  .info {
    display: flex;
    gap: 4.313rem;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    text-align: left;
    max-width: 50%;
  }

  .image {
    max-width: 23.063rem;
    min-height: 23.063rem;
  }

  .source {
    justify-content: flex-start;
  }

  .desc {
    margin: 2.188rem 0;
  }

  .title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13.625rem;
    margin-top: 5rem;
  }

  .text {
    max-width: 100%;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  .image {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .planet {
    width: 28.125rem;
    object-fit: cover;
  }

  .desc {
    margin: 2.063rem 0;
  }
}
