.container {
  padding-inline: var(--p1);
  width: 100%;
  max-width: 69.5rem;
  margin: auto;
  font-family: var(--ff-serif-2);
}

.image {
  margin: 3.875rem auto;
  width: 100%;
  max-width: 11rem;
  min-height: 11rem;
  position: relative;
}

.geology {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 5rem;
  bottom: -2rem;
}

.text {
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-family: var(--ff-serif-1);
  font-size: 2.5rem;
  font-weight: 400;
}

.desc {
  line-height: 1.563rem;
  margin: 1.688rem 0;
  color: var(--clr-light-3);
}

.source {
  color: var(--clr-light-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.source a {
  text-decoration: underline;
  font-weight: bold;
}

.source span {
  color: var(--clr-light-2);
}

.source svg {
  margin-bottom: 0.2rem;
}

@media only screen and (min-width: 768px) {
  .info {
    display: flex;
    gap: 4.313rem;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    text-align: left;
    max-width: 50%;
  }

  .image {
    max-width: 23.063rem;
    min-height: 23.063rem;
  }

  .planet {
    width: 100%;
  }

  .source {
    justify-content: flex-start;
  }

  .desc {
    margin: 2rem 0;
  }

  .title {
    font-size: 5rem;
  }

  .geology {
    max-width: 7rem;
    bottom: -3rem;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9rem;
    margin-top: 8rem;
  }

  .info {
    gap: 2rem;
    width: 100%;
    max-width: 21rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .text {
    max-width: 100%;
  }

  .image {
    max-width: 28.125rem;
    margin: 0;
    margin-left: 5.5rem;
    margin-top: 0.625rem;
  }

  .planet {
    width: 28.125rem;
    height: 28.125rem;
    object-fit: cover;
  }

  .desc {
    font-size: 1.1rem;
    margin: 1.7rem 0;
  }

  .geology {
    max-width: 10.188rem;
    bottom: -5rem;
  }
}
