@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --clr-light-1: #ffffff;
  --clr-light-2: #838391;
  --clr-light-3: #c1c1c8;
  --clr-dark-1: #070724;
  --clr-dark-2: #38384f;
  --clr-dark-3: #393950;

  --p1: 1rem;
  --p2: 2rem;
  --p3: 3rem;
  --p4: 4rem;
  --p5: 5rem;

  --bs-1: rgb(149, 137, 255) 0px 0px 0px 2px;

  --ff-serif-1: 'Antonio', sans-serif;
  --ff-serif-2: 'League Spartan', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-light-1);
  background-color: var(--clr-dark-1);
  font-family: var(--ff-serif-1);
  background-image: url('./assets/background-stars.svg');
  animation: animatedBackground 50s linear infinite alternate;
}

a {
  all: unset;
  cursor: pointer;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* focus visible */
button:focus-visible,
a:focus-visible {
  box-shadow: var(--bs-1) !important;
}

/* only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 40%;
  }
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
