@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --clr-white-1: #ffffff;
  --clr-light-2: #838391;
  --clr-dark-1: #070724;
  --clr-dark-2: #38384f;
  --ff-serif-1: 'Antonio', sans-serif;
  --ff-serif-2: 'League Spartan', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-white-1);
  background-color: var(--clr-dark-1);
  font-family: var(--ff-serif-1);
  background-image: url('./assets/background-stars.svg');
  animation: animatedBackground 50s linear infinite alternate;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: var(--clr-white-1);
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 40%;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
